html {
  scroll-snap-type: y mandatory;
}

.scroll-align {
  scroll-snap-align: center;
  perspective: 10px;
}

section {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  scroll-snap-align: center;
  perspective: 500px;
}

.snap-div {
  background-color: lightblue;
  scroll-snap-align: start; /* Snap align to the top of the viewport */
}

.progress {
  position: sticky;
  left: 0;
  right: 0;
  height: 5px;
  background: var(--accent);
  bottom: 0px;
  background-color: #9900ff;
}
